
body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    border: 1px black;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    height: 100%;
}

.row {
    height: 100%;
}

/* Left site menu */

.menu {
    padding-top: 100px;
    padding-left: 100px;
}

.pd_menu {
    display: inline-flex;
    align-items: center;
}

.jylogo {
    width: 66px;
    margin-bottom: 30px;    
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.li4, .li5, .li6 {
    margin-top: 15px;
    margin-left: 20px;
}

.li2, .li3 {
    margin-top: 15px;
}

.line {
    width: 2px;
    height: 100px;
}

/* Left site menu end */

/* Right site menu */

.right {
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
}

.slog {
    width: 90%;
    padding-right: 5%;
    padding-bottom: 5%;
    height: auto;
    text-align: right;
}

.img_main{
    width: 100%;
    margin-bottom: 30px;
}



h1 {
    color: black;
    text-align:right;
    font-size: 50px;
    padding-right: 10px;
    font-weight: 700;
    font-family: 'Noto Serif TC', serif;
}

h3 {
    color: black;
    font-size: 15px;
    text-align:right;
    letter-spacing: 5px;
    line-height: 25px;
    font-weight: 200;
    font-family: 'Noto Serif TC', serif;
}

/* Right site menu end */

@media screen and (max-width: 500px){

    /* Left site menu */
    
    .menu{
        padding-top: 60px;
        padding-left: 60px;
    }

    .logo_a{
        width: 50px;
        height: 50px;
    }

    a {
        font-size: 20px;
        font-weight: 100;
    }

    /* Right site menu */

    .right{
        display: none;
    }

}
