p.wel{
    text-align: center;
    font-style: italic;
    color:orange;
}
ul.skill{
    display: inline-block;
    text-align: left;
    font-style: italic;
    color:skyblue;
}
div.skill2{
    weight:500px;
    text-align: center;
}
#myButton{
    text-align: center;
}
button{
    text-align: center
}